/* main */

main{
    height: 100vh;
    background-color: lightblue;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 200px;
    margin-left:180px ;
    column-gap: 20px;
}
