nav{
    /* background-color: lightblue; */
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 160px;
}

.nav-container{
    /* background-color: lightsalmon; */
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    bottom: 0;
}

.icon-container{
display: flex;
justify-content: center;
align-items: center;
cursor: pointer;
padding: 12px;
border-radius: 30px;
}

.icon-container img{
    height: 30px;

    
}

.icon-container:hover{
    background-color: rgb(220, 240, 247);

}